.composer/
.editorconfig
.env*
.git/
.gitattributes
.github/
.gitignore
.idea/
.sops.yaml

codestyle.php
docker-compose*
Taskfile.yml
node_modules/
phpstan*
public/build/
public/hot
readme.md
renovate.json5
vendor/

/environment
!/environment/.deployment/scripts/post-deploy-actions.sh
!/environment/.docker
!/environment/dev
